[Unit]
Description=Clash Daemon

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/clash -d /etc/clash/
#Restart=on-failure

[Install]
WantedBy=multi-user.target
